@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes swipe {
    0% { background-position: -100% 0; }
    100% { background-position: 100% 0; }
  }

  .hover\:swipe-effect:hover {
    position: relative;
    background-image: linear-gradient(to right, rgba(146, 58, 58, 0.6), rgb(199, 37, 37), rgba(27, 167, 22, 0.6));
    background-size: 200% auto;
    background-clip: text;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a subtle glow */
    animation: swipe 0.5s ease-in-out forwards;
  }
}